/* colors:  

#DAD7CD
#A3B18A
#588157
#3A5A40
#344E41 
*/
.movies-container_div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.movieContainer p {
  padding: 0.1rem;
}

.moviesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  max-width: 70vw;

  .movieContainer {
    width: 200px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    justify-content: flex-start;
    background: #a3b18a;
    border-radius: 0.3rem;
    position: relative;

    .expand img {
      transition: 0.5s ease;
    }

    .expand img:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
      transition: 0.1s ease;
    }
  }
}

.favoriteNumber {
  background-color: red;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  top: -23px;
  left: 33%;
  font-weight: bold;
}

.favorites-button,
.remove-favs {
  background-color: #dad7cd;
  border: none;
  border-radius: 0.2rem;
  padding: 0.3rem;
  cursor: pointer;
  font-weight: bold;
  color: #344e41;
  position: absolute;
  bottom: 1rem;
}

.favorites-button:hover,
.remove-favs:hover {
  background-color: #344E41;
  color: #DAD7CD;
  transform: scale(1.05);
}

.search-input {
  border-radius: 0.5rem;
  padding: 0.2rem 0.3rem;
  border: none;
  outline: none;  
  width: 9rem;
}

.home-link,
.fav-link,
.top-rated-link,
.genres-link,
.search-link,
.sign-in-link {
  color: #707570;
}

.movieContainer p {
  padding: 0.1rem;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movieContainer h4 {
  width: 100%;
  text-align: center;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}