.detailedMovie {
  display: flex;
  gap: 50px;
  padding: 20px;
  max-width: 900px;
  margin: auto;

  .moviePoster {
    display: flex;
    justify-content: center; // Centers horizontally
    align-items: center; // Centers vertically if parent has a height
    width: 100%; // Ensures it takes full width
    margin: auto; // Adds spacing around
  
    img {
      width: 300px;
      height: auto;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
      border-radius: 8px; // Optional, makes the image look smoother
    }
  }
  
  .movieDescription {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2 {
      margin-bottom: 10px;
      color: rgb(40, 46, 64);
    }

    p {
      margin-bottom: 15px;
    }
    .movieDescriptionList {
      display: flex;
      flex-direction: column;
      text-align: left;
      color: rgb(40, 46, 64);
    }

    button {
      padding: 10px 15px;
      border: none;
      background-color: hsl(36, 83%, 58%);
      color: white;
      cursor: pointer;
      border-radius: 5px;
    }
  }
}
