.movieContainerGenres {
  width: 200px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  justify-content: space-evenly;
  background: #7891a6;
  border-radius: 0.3rem;

  &:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); // Adds a smooth shadow effect
  }

  img {
    transition: 0.5s ease;
    width: 80%;
    object-fit: cover;
    padding: 10px 0;
    cursor: pointer;
  }

  &:hover img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.1s ease;
  }
}

.genres-title {
  font-size: 2rem;
  font-weight: 700;
  padding: 2rem;
  color: #704b0bbf;
}

.genres-name {
  font-weight: 900;
}
