.moviesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  max-width: 70vw;

  .movieContainer {
    width: 200px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    justify-content: flex-start;
    background: #a3b18a;
    border-radius: 0.3rem;
    position: relative;

    .expand img {
      transition: 0.5s ease;
    }

    .expand img:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
      transition: 0.1s ease;
    }
  }
}

.favorites-button,
.remove-favs {
  background-color: #dad7cd;
  border: none;
  border-radius: 0.2rem;
  padding: 0.3rem;
  cursor: pointer;
  font-weight: bold;
  color: #344e41;
  position: absolute;
  bottom: 1rem;
}
