.input-style {
  border: none;
  border-radius: 0.5rem;
  padding: 0.2rem 0.3rem;
  width: 9rem;
}

.search-button-style {
  margin: 0 10px;
  border: none;
  border-radius: 0.5rem;
  padding: 0.2rem 0.3rem;
  color: #707570;
  font-weight: bold;

  &:hover {
    background-color: #7891a6;
    color: var(--color-text);
  }
}
