* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  text-align: center;
}

body {
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

nav {
  display: flex;
  gap: 40px;
  justify-content: center;
  position: relative;
  padding: 20px;

  a {
    text-decoration: none;
    color: white;
    font-weight: bold;

    transition: color 0.3s ease;

    &:hover {
      color: #ff6625;
    }
  }

  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.5px;
    background-color: white;
  }
}

.favoriteElement {
  list-style: none;
  display: flex;
  gap: 0.3rem;

  .favorite-span {
    background-color: rgb(240, 54, 8);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.movies-container_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  padding: 2rem;
  color: #588157;
}
