:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #DAD7CD;
}

/* colors:  

#DAD7CD
#A3B18A
#588157
#3A5A40
#344E41 
*/